/* Nav Header */
.navbar , .container-fluid{
	background-color: #ffffff;
}
.navbar-brand{
	padding: .5rem 0 0 .9rem;
}
.logo-img{
	padding: 0;
	width: 4.4rem;
	vertical-align: top; 
}
.navbar-nav {
	width: 75%;
	margin-left: 6%;
}
.navbar-nav li {
	width: 20%;
	display: block;
	float: left;
}
.navbar-nav li a {
	margin-top: .4rem;
	padding: 1rem;
	color: #27bcfe !important;
}
.navbar button {
	margin-top: .9rem;
	//margin-left: 3.7rem;
	background-color: #0eb5fe;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	padding: .4rem .8rem .4rem .8rem; 
	border-color: #0dacf1;
}

.red-indicator {
	color: red;
}
#vid-grid{
	position: relative;
	height: 400px;
	margin-top: 3rem;
	padding: 1rem 0 1rem 0;
}
#vid-grid div{
	position: absolute;
	text-align: center;	
}
#vid-grid video{
	position: relative;
}
#vide-grid div:hover + .description{
	display: block;	
}
#vid-grid div span{
	z-index: 6;	
	position: absolute;
	bottom: 4rem;
	left: 2rem;
	right: 2rem;
	background-color: #F0F0F0;
	display: none;
}
#vid-grid .left{
	width: 30%;
	left: 0;
}
#vid-grid .center{
	width: 40%;
	margin: 0 auto 0 auto;
	left: 0;
	right: 0;
	
}
#vid-grid .right{
	width: 30%;
	right: 0;
}
#vid-grid .top{
	top: 0;
}
#vid-grid .bottom{
	bottom: 0;
}
/* Video Grid */
#video-grid{
	margin-top: 3.5rem;
}
.grid-vid , .grid-pic{
	width: 100%;
}


@media screen and (min-width: 0) and (max-width: 768px) {
	#video-grid{
		display: none;
	}
	#vid-grid{
		display: none;
	}
	#expanded-navbar{
		display: none;
	}
}
@media screen and (min-width: 768px) {
	#carousel-view{
		display: none;
	}
	#collapsed-navbar{
		display: none;
	}
}
